frontend/node_modules
frontend/node_modules
backend/__pycache__
images
labels
test.txt

train.txt
backend/static_subtitles
val.txt
backend/best_model.pth
backend/latest_checkpoint.pth
.kiro
# Node.js (React frontend)
frontend/package-lock.json
frontend/node_modules/
frontend/build/
frontend/.env
backend/venv
# Python (FastAPI backend)
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/*.pkl
backend/*.pth

# System files
.DS_Store
*.log

backend/The Great Depression - 5 Minute History Lesson.mp4
backend/197485-905015019_small.mp4